* {
  margin: 0;
  padding: 0;
}
.seckill-list {
  position: relative;
  float: left;
  width: 800px;
  height: 100%;
  /* overflow: hidden; */
}
.slider_control_prev {
  left: 0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.slider_control {
  position: absolute;
  top: 50%;
  border-radius: 0;
  width: 25px;
  height: 35px;
  line-height: 35px;
  background-color: #d9d9d9;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: -20px;
  font-size: 20px;
  z-index: 2;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.slider_control_prev {
  left: 0;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.slider_control {
  position: absolute;
  top: 50%;
  border-radius: 0;
  width: 25px;
  height: 35px;
  line-height: 35px;
  background-color: #d9d9d9;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: -20px;
  font-size: 20px;
  z-index: 2;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
}

button {
  cursor: pointer;
}
.seckill-list .seckill-item {
  position: relative;
  width: 200px;
  height: 220px;
  display: inline-block;
}
.slider_item {
  height: 100%;
  min-height: 1px;
}
a {
  color: #666;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB,
    "\5B8B\4F53", sans-serif;
  color: #666;
}
.seckill-list .seckill-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 200px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(white),
    color-stop(#eeeeee),
    to(white)
  );
  background: linear-gradient(180deg, white, #eeeeee, white);
}
.seckill-item__name {
  font-size: 12px;
  font-weight: 400;
  color: #333;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.seckill-item__name {
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}
.seckill-list .seckill-item__price {
  border: 1px solid #e1251b;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 24px;
  overflow: hidden;
  background-color: #e1251b;
}
.seckill-list .seckill-item__price {
  width: 160px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.seckill-list .seckill-item__price .price-miaosha {
  width: 92px;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  float: left;
}

.seckill-list .seckill-item__price {
  border: 1px solid #e1251b;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 24px;
  overflow: hidden;
  background-color: #e1251b;
}

.seckill-list .seckill-item__price .price-miaosha:before {
  content: " ";
  width: 0;
  height: 0;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 22px 8px 0 0;
  position: absolute;
  top: 0;
  left: 84px;
}
.seckill-list .seckill-item__price .price-origin {
  height: 100%;
  width: 66px;
  float: right;
  background: #fff;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: line-through;
  vertical-align: top;
}
.cw-icon {
  width: 130px;
  height: 34px;
  background-color: #fff;
  text-align: center;
  line-height: 34px;
  border-color: #eee;
}
.cw-icon {
  overflow: hidden;
  position: relative;
  z-index: 1;
  float: left;
  border: 1px solid #e3e4e5;
}
.cw-icon a {
  color: #e1251b;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.cw-icon {
  width: 130px;
  height: 34px;
  background-color: #fff;
  text-align: center;
  line-height: 34px;
  border-color: #eee;
}
.iconfont {
  font-family: iconfont, sans-serif;
  font-style: normal;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.ci-count {
  position: absolute;
  top: 1px;
  left: 29px;
  right: auto;
  display: inline-block;
  padding: 1px 3px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  background-color: #e1251b;
  border-radius: 7px;
  min-width: 12px;
  text-align: center;
}
.yijiaru {
  font-size: 16px;
  color: #666;
}
