html,
body body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
span {
  list-style-type: none; /* 去掉默认的样式 */
  font-size: 16px;
  color: #333333;
  /* outline: 0;  设置元素的样式和宽度 */
  margin: 0;
  padding: 0;
}

table,
tr,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
table {
  width: 366px;
}
